@import "tailwindcss";

:root {
  --tw-color-black: #0b090a;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: "Inter", sans-serif;
  }
}

@theme {
  --color-light-lime-green: #c3ff49;
  --light-cyan: #00ffcc;
  --neon-green: #00ff00;
  --neon-cyan: #00ffff;
}
